name: Build, unittest and publish

on:
  push:
    branches:
      - main
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:

jobs:
  build-package:
    name: Build package
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # required for setuptools-scm

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.7"

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --locked --dev

      - name: Test with pytest
        run: |
          uv run pytest

      - name: Build packages
        run: uv build --all-packages

      - name: Publish package
        env:
          UV_PUBLISH_PASSWORD: ${{ secrets.AZURE_ARTIFACTS_READWRITE_TOKEN }}
        run: |
          uv publish --index azure-artifacts dist/*.whl
